/node_modules
/build
/coverage
yarn.lock
package-lock.json
.env

*.log
.DS_Store
.vscode

# https://www.twilio.com/blog/test-verify-no-rate-limits#run-a-verify-testing-dashboard-during-development
verify-testing-dashboard